body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
.overflow-hidden {
    width: 100%;
    overflow: hidden;
}
.new-books-section {
    display: flex;
    margin: 0 2rem;
    flex-wrap: wrap;
}
.index-book-item {
    flex: 0 0 25%;
    text-align: center;
}
.index-book-item .book-cover img{
    height: 280px;
    width: auto;
    object-fit: cover;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 2px;
}
.index-book-item .book-title {
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;
    color: #896b4a;
    text-align: center;
}
.index-book-item .book-author {
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    color: #605e5e;
    text-align: center;
    white-space: break-spaces;
}
.index-book-item .book-price {
    text-align: center;
}
.index-book-item .add-to-cart-round {

}
.top-nav {
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 2.5rem;
    position: relative;
}
.top-nav .dropdown {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 10%);
    top: 96%;
}
.top-nav .dropdown.active-dropdown {
    display: flex;
}
.top-nav .dropdown li {
    padding: 0.4rem 4rem 0.4rem 0.5rem;
}
.top-nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1.2rem 1rem;
}
.top-nav ul li {
    list-style: none;
    padding: 0 1rem;
    cursor: pointer;
}
.top-nav ul li a {
    text-decoration: none;
    color: #9f9f9f;
}
.top-nav ul li a i {
    font-size: 12px;
    transition: all .5s ease;
}
.top-nav ul li .login-reg {
    border: 1px solid;
    padding: 3px 10px;
    color: #2a8ee1;
}
.pagination-box {
    border-top: 1px solid #f2f2f2;
}
.pagination {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.pagination li {
    padding: 0.4rem 1rem;
    list-style: none;
    border: 1px solid #407bee;
    margin: 0 0.1rem;
}
.pagination li.active {
    background-color: #407bee;
}
.pagination li.active a{
    color: #fff;
}
.pagination li.pagination-prev-nav,
.pagination li.pagination-next-nav {
    border: 1px solid #9f9f9f;
}
.pagination li.pagination-prev-nav a,
.pagination li.pagination-next-nav a {
    color: #9f9f9f;
}
.pagination li a {
    text-decoration: none;
    color: #407bee;
}
.offer-book-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
.offer-book-form label {
    color: #9f9f9f;
}
.offer-book-form input,
.offer-book-form select {
    border: 1px solid #f2f2f2;
    margin-bottom: 0.5rem;
    height: 2rem;
    color: #9f9f9f;
    padding-left: 0.3rem;
    font-family: inherit;
}
.offer-book-form textarea {
    border: 1px solid #f2f2f2;
    min-height: 6rem;
    margin-bottom: 0.5rem;
}
.offer-book-form input:focus,
.offer-book-form select:focus,
.offer-book-form textarea:focus {
    outline: none;
}
.offer-book-form button {
    height: 2rem;
    border: 1px solid #f2f2f2;
    background: linear-gradient(
    170deg
    , #2196f3, #6353f7);
    color: #fff;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
}
.filters {
    display: flex;
    justify-content: center;
}
.filters select,
.filters input {
    border: 1px solid #f2f2f2;
    margin: 0 0.6rem;
    margin-bottom: 2rem;
    height: 2rem;
    color: #9f9f9f;
    padding-left: 0.3rem;
    font-family: inherit;
}
.filters select {
    height: 2.3rem;
}
.filters input:focus,
.filters select:focus {
    outline: none;
}
/* Login */
.login-form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}
.login-form label {
    color: #9f9f9f;
}
.login-form input,
.login-form select {
    border: 1px solid #f2f2f2;
    margin-bottom: 0.5rem;
    height: 2rem;
    color: #9f9f9f;
    padding-left: 0.3rem;
    font-family: inherit;
}
.login-form input:focus,
.login-form select:focus {
    outline: none;
}
.login-form button {
    height: 2.4rem;
    border: 1px solid #f2f2f2;
    background: linear-gradient( 
    170deg
    , #ab21f3, #f753f3);
    color: #fff;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    transition: all .5 ease;
}
.login-form button:hover {
    transform: scale(1.01);
}
.login-form .dont-have {
    margin: 0;
    margin-top: 0.5rem;
    color: #a5a5a5;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.login-form .another-action {
    background: none;
    padding: 0 1rem;
    border: 1px solid #c331f3;
    color: #be2ef3;
    margin-left: 1rem;
    transition: all 0.4 ease;
}
.login-form .title {
    text-align: center;
}
.login-form .another-action:hover {}

/* Dashboard */
.dashboard {
    display: flex;
    height: 100vh;
}
.dashboard .side-menu {
    width: 20rem;
    height: 100%;
    border-right: 1px solid #f2f2f2;
}
.dashboard .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0.4rem;
}
.dashboard .side-menu ul li {
    color: #9f9f9f;
    padding: 4px;
}
.dashboard .dashboard-main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard .dashboard-main-section .statistic-box {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}
.dashboard .dashboard-main-section .statistic-box .fact {
    width: 250px;
    border: 1px solid #2a8ee1;
    box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dashboard .dashboard-main-section .notifications {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
    border: 1px solid #2a8ee1;
}
.dashboard .dashboard-main-section .notifications ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dashboard .dashboard-main-section .notifications ul li {
    border-bottom: 1px solid #2a8ee1;
    padding: 1.5rem 2rem;
}