body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
.overflow-hidden {
    width: 100%;
    overflow: hidden;
}
.new-books-section {
    display: flex;
    margin: 0 2rem;
    flex-wrap: wrap;
}
.index-book-item {
    flex: 0 0 25%;
    text-align: center;
}
.index-book-item .book-cover img{
    height: 280px;
    width: auto;
    object-fit: cover;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 2px;
}
.index-book-item .book-title {
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;
    color: #896b4a;
    text-align: center;
}
.index-book-item .book-author {
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    color: #605e5e;
    text-align: center;
    white-space: break-spaces;
}
.index-book-item .book-price {
    text-align: center;
}
.index-book-item .add-to-cart-round {

}
.top-nav {
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 2.5rem;
    position: relative;
}
.top-nav .dropdown {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 10%);
    top: 96%;
}
.top-nav .dropdown.active-dropdown {
    display: flex;
}
.top-nav .dropdown li {
    padding: 0.4rem 4rem 0.4rem 0.5rem;
}
.top-nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1.2rem 1rem;
}
.top-nav ul li {
    list-style: none;
    padding: 0 1rem;
    cursor: pointer;
}
.top-nav ul li a {
    text-decoration: none;
    color: #9f9f9f;
}
.top-nav ul li a i {
    font-size: 12px;
    transition: all .5s ease;
}
.top-nav ul li .login-reg {
    border: 1px solid;
    padding: 3px 10px;
    color: #2a8ee1;
}
.pagination-box {
    border-top: 1px solid #f2f2f2;
}
.pagination {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.pagination li {
    padding: 0.4rem 1rem;
    list-style: none;
    border: 1px solid #407bee;
    margin: 0 0.1rem;
}
.pagination li.active {
    background-color: #407bee;
}
.pagination li.active a{
    color: #fff;
}
.pagination li.pagination-prev-nav,
.pagination li.pagination-next-nav {
    border: 1px solid #9f9f9f;
}
.pagination li.pagination-prev-nav a,
.pagination li.pagination-next-nav a {
    color: #9f9f9f;
}
.pagination li a {
    text-decoration: none;
    color: #407bee;
}
.offer-book-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
.offer-book-form label {
    color: #9f9f9f;
}
.offer-book-form input,
.offer-book-form select {
    border: 1px solid #f2f2f2;
    margin-bottom: 0.5rem;
    height: 2rem;
    color: #9f9f9f;
    padding-left: 0.3rem;
    font-family: inherit;
}
.offer-book-form textarea {
    border: 1px solid #f2f2f2;
    min-height: 6rem;
    margin-bottom: 0.5rem;
}
.offer-book-form input:focus,
.offer-book-form select:focus,
.offer-book-form textarea:focus {
    outline: none;
}
.offer-book-form button {
    height: 2rem;
    border: 1px solid #f2f2f2;
    background: linear-gradient(
    170deg
    , #2196f3, #6353f7);
    color: #fff;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
}
.filters {
    display: flex;
    justify-content: center;
}
.filters select,
.filters input {
    border: 1px solid #f2f2f2;
    margin: 0 0.6rem;
    margin-bottom: 2rem;
    height: 2rem;
    color: #9f9f9f;
    padding-left: 0.3rem;
    font-family: inherit;
}
.filters select {
    height: 2.3rem;
}
.filters input:focus,
.filters select:focus {
    outline: none;
}